<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
</head>
<body>
	<h1>Enter your Details here</h1>
	<p>Please fill this form with your correct and true details</p>

	<form action="http://127.0.0.1:5000/getresults" method="POST">
		
		<p>Name <input type="text" name="nm"/> </p>
		<p>ID <input type="text" name="id"/> </p>
		<p>Maths Marks <input type="text" name="maths"/> </p>
		<p>Physics Marks <input type="text" name="phys"/> </p>
		<p>Chemistry Marks <input type="text" name="chem"/> </p>

		<p><input type="submit" value="Submit Details"/></p>

	</form>

</body>
</html>