<!DOCTYPE html>
<html>
<head>
	<title>Flask Tutorial</title>
</head>
	<h1>This is the Home page</h1>
<body>
	<h2>Flask Tutorial</h2>
	<p>What is Web Framework?
	Web Application Framework or simply Web Framework represents a collection of libraries and modules that enables a web application developer to write applications without having to bother about low-level details such as protocols, thread management etc.

	What is Flask?
	Flask is a web application framework written in Python. It is developed by Armin Ronacher, who leads an international group of Python enthusiasts named Pocco. Flask is based on the Werkzeug WSGI toolkit and Jinja2 template engine. Both are Pocco projects.

	WSGI
	Web Server Gateway Interface (WSGI) has been adopted as a standard for Python web application development. WSGI is a specification for a universal interface between the web server and the web applications.

	Werkzeug
	It is a WSGI toolkit, which implements requests, response objects, and other utility functions. This enables building a web framework on top of it. The Flask framework uses Werkzeug as one of its bases.

	Jinja2
	Jinja2 is a popular templating engine for Python. A web templating system combines a template with a certain data source to render dynamic web pages.

	Flask is often referred to as a micro framework. It aims to keep the core of an application simple yet extensible. Flask does not have built-in abstraction layer for database handling, nor does it have form a validation support. Instead, Flask supports the extensions to add such functionality to the application. Some of the popular Flask extensions are discussed later in the tutorial.</p>
</body>
</html>